<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" >
        <img src="/img/dino-logo-press.png" alt="">
    </a>

    <ul class="navbar-nav mr-auto mt-2">

        <% categories.forEach(category => { %>
            <li class="nav-item">
                <a class="nav-link" href="/categories/<%= category.slug %>"><%= category.title %></a>
            </li>
        <% }) %>
    </ul>

    <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">LOGIN</a>
        </li>
    </ul>
</nav>