<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/" >
        <img src="/img/dino-logo-press.png" alt="Logo Dino's Press">
    </a>

    <ul class="navbar-nav mr-auto mt-2">
        <li class="nav-item">
            <a class="nav-link" href="/admin/categories">CATEGORIAS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/articles">ARTIGOS</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/users">USUÁRIOS</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto mt-2">
        <li class="nav-item">
            <a class="nav-link" href="/logout">SAIR</a>
        </li>
    </ul>
</nav>